@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}
.post-content p {
  margin-bottom: 0.5rem;
}
.post-content h1 {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 0.8rem 0;
}
.post-content h2 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 0.6rem 0;
}
.post-content a {
  text-decoration: none;
  color: rgb(0, 194, 194);
}
.post-content a:hover {
  text-decoration: underline;
}
.loaderrr {
  border: 4px dashed slategray; /* Transparent */
  border-top: 4px dashed slategray; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 3s linear infinite;
}
